<link href="static/css/detail.css" rel="stylesheet" type="text/css" />
<table>
    <tr>
        <th>学号</th>
        <th>姓名</th>
    </tr>
    <tr>
        <td>{{.ID}}</td>
        <td>{{.NAME}}</td>
    </tr>
</table>